@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #f4f4f6;
  height: 100vh;
}

.container {
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
  padding: 0 10px 4rem;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  justify-content: space-evenly;
}

.input-text {
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
}

.input-text::placeholder {
  color: #000;
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.navBar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
}

.navBar ul {
  background: #444;
}

.navBar li {
  display: inline;
  text-align: right;
  padding: 10px 8px;
  line-height: 3em;
}

.header-div {
  display: flex;
  margin: 20px;
}

.header-card {
  text-align: left;
  width: 33.33%;
  margin: 10px;
}

.header-card .inner-div {
  margin-top: 30px;
}

.header-card h5 {
  color: #555;
}

.latest-tasks {
  margin-top: -10px;
  padding-left: 15px;
}

.reversed-order {
  transform: rotate(180deg);
}

.reversed-order li {
  transform: rotate(180deg);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 265px;
  text-align: center;
}

.login-input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  border: none;
  background: #eef1f8;
  margin-bottom: 15px;
  padding-left: 10px;
  border-radius: 10px;
}

.login-input-text::placeholder {
  color: #000;
}

.login-input-submit {
  background: #5285ec;
  color: #ffffff;
  text-transform: capitalize;
  width: 85%;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
}

.login-input-text,
.login-input-submit {
  height: 40px;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: calc(0.5 * 100px);
  height: 35px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
}

@media screen and (max-width: 450px) {
  .header-div {
    display: block;
  }

  .header-card {
    width: 100%;
    margin: 10px;
  }
}
